
:root{
	--gridWidth : 500px;/*desktop default*/
	--gridHeight: 500px;/*desktop default*/
	--rows: 20;
	--cols: 20;
}
#grid{
	height: var(--gridHeight);
	width: var(--gridWidth);
	background-color:green;
	border:10px solid grey;
	
}
.grid-cell{
	width: calc(var(--gridWidth)/var(--cols));
	height: calc(var(--gridHeight)/var(--rows));
	background-color: blue;
	float: left;
	box-sizing: border-box;
	border:1px solid black;
	text-align: center;
}
#apple{
	//center the image appropriately
}